#platform=86, AMD64, 或 Intel EM64T

#version=DEVEL
# System authorization information
auth --useshadow  --passalgo=sha512
# Install OS instead of upgrade
install
# Use network installation
url --url="ftp://192.168.10.1/rhel6"
# Use text mode install
text
# Firewall configuration
firewall --disabled
firstboot --disable
ignoredisk --only-use=sda
# Keyboard layouts
# old format: keyboard us
# new format:
keyboard --vckeymap=us --xlayouts='us'
# System language
lang zh_CN.UTF-8

# Network information
network  --bootproto=dhcp --device=eth0
network  --hostname=localhost.localdomain
# Reboot after installation
reboot
# Root password
rootpw --iscrypted $1$jnKwNDZu$VsBXP9FMOGDVQ6./lpJ851
# SELinux configuration
selinux --disabled
# Do not configure the X Window System
skipx
# System timezone
timezone Asia/Shanghai
# X Window System configuration information
xconfig  --startxonboot
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
# Clear the Master Boot Record
zerombr
# Partition clearing information
clearpart --all --initlabel
# Disk partitioning information
part / --fstype="ext4" --size=122880
part /var/lib/libvirt/images --fstype="ext4" --size=204800

%post --interpreter=/bin/bash
useradd Student
echo redhat | passwd --stdin Student
systemctl set-default graphical.target
mkdir /etc/yum.repos.d/repo
mv /etc/yum.repos.d/*.repo /etc/yum.repos.d/repo
cd /etc/yum.repos.d/
wget ftp://192.168.10.1/CentOS.repo
yum -y install tigervnc
yum -y install vsftpd
systemctl enable vsftpd
yum -y install httpd
systemctl restart httpd
systemctl enable httpd
systemctl enable nfs-server
wget ftp://192.168.10.1/NSD-2018-1-12.tar.gz
tar -xf NSD-2018-1-12.tar.gz -C /opt
cd /opt/NSD-2018-1-12
sh init.sh
wget ftp://192.168.10.1/desktop.tar.gz
tar xPf desktop.tar.gz
cd /bin/
wget ftp://192.168.10.1/uftp
wget ftp://192.168.10.1/uftpd
chmod 755 /bin/uftp*
mkdir /public
echo '/bin/uftpd -D /public' >> /etc/profile

%end

%packages
@^graphical-server-environment
@base
@core
@debugging
@desktop-debugging
@dial-up
@fonts
@gnome-apps
@gnome-desktop
@graphical-admin-tools
@guest-agents
@guest-desktop-agents
@hardware-monitoring
@input-methods
@internet-applications
@internet-browser
@legacy-unix
@legacy-x
@multimedia
@network-file-system-client
@print-client
@remote-desktop-clients
@smart-card
@system-management
@virtualization-client
@virtualization-hypervisor
@virtualization-platform
@virtualization-tools
@x11
chrony
gnome-disk-utility
gnome-packagekit
kexec-tools
kexec-tools
setroubleshoot
vinagre
wodim

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end
